@model IEnumerable<HomebrewDesigner.Core.DTO.RecipeResponse>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-2 text-main">MVC Homebrew Recipe Designer</h1>
    <div class="row">
        <div class="col mt-5 bg-secondary rounded-5 p-3">
            <h1 class="display-6 mb-3 mt-3 text-main"> Recently Added Recipes</h1>
            @foreach (var item in Model)
            {
                <a asp-action="ViewRecipe" asp-controller="Recipe">
                    <a class="text-decoration-none text-green" asp-controller="Recipe" asp-action="ViewRecipe" asp-route-Id="@item.Id"><h2>@item.Name</h2></a>
                    <p class="text-main">@item.Style</p>
                </a>
            }
        </div>

    </div>
</div>