html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Asap Condensed', sans-serif;
  background-image: linear-gradient(to right, #333, #3c3c3c, #333) !important;
}

nav{
  background-image: linear-gradient(to right, #1b1b1b, #2a2a2a, #1b1b1b) !important;
  background-color: #2b2b2b !important;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.bg-main{
  background-image: linear-gradient(to right, #2b2b2b, #2f2f2f, #2b2b2b) !important;
}

.bg-secondary{
  background-color: #333 !important;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a:hover {
  color: #f9f9f9 !important;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.text-main{
  color: #f9f9f9 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.fermentable-template {
  display: none;
}

.active {
  transform: scale(1.1);
  color: #31ED31 !important;
  text-decoration: none !important;
}

.form-control:focus {
  border-color: #f9f9f9 !important; 
  outline: none; 
  box-shadow: none; 
}

.form-select:focus {
  border-color: #f9f9f9 !important;
  outline: none;
  box-shadow: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-text-fill-color: #f9f9f9 !important;
  -webkit-box-shadow: 0 0 0px 1000px #333 inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

.btn-main {
  color: #2b2b2b;
  background-color: #2b2b2b;
  border: .01rem solid #bdbdbd;
}

.btn-main:hover {
  color: #f9f9f9;
  background-color: #333;
  border-color: #f9f9f9;
}

.text-validation {
  color: #31ED31;
}

.bg-secondary{
  background-color: #2a2a2a !important;
}

.rounded-5 {
  border-radius: 0.5rem;
}

.border-1 {
  border: .0001rem solid #bdbdbd !important;
}

input {
  border: .01rem solid #bdbdbd !important;
}

.beer-img{
  height: 30px;
  width: 15px;
}

.hops-img{
  height: 30px;
  width: 15px;
}

.ferm-img{
  height: 30px;
  width: 20px;
}

.yeast-img{
  height: 30px;
  width: 25px;
}

.nav-logo {
  height: 50px;
  width: 35px;
  margin: 5px;
}

h5 {
  color: #f9f9f9;
}

p {
  color: #f9f9f9;
}
input{
  background-color: #2b2b2b !important;
  color: #f9f9f9 !important;
}

.text-validation {
  color: #31ED31 !important;
}

.text-green {
  color: #31ED31 !important;
}

td {
  position: relative;
}

.image-tooltip {
  display: none;
  position: absolute;
  bottom: 50%; 
  left: 50%; 
  transform: translateX(-50%); 
  border: 1px solid #ccc; 
  background-color: white; 
  z-index: 100;
}

.beer-img:hover + .image-tooltip {
  display: block;
}

.image-tooltip img {
  max-width: 250px; 
  height: auto; 
  display: block; 
}

