@using System.Text.RegularExpressions
@using HomebrewDesigner.Core.Enums
@model HomebrewDesigner.Core.DTO.RecipeUpdateRequest
@{
    ViewBag.Title = "Edit Recipe";
}

<div class="container text-center mt-5 bg-secondary rounded-5 pe-5 pt-3">
    <h1 class="display-2 pb-3 text-main">Edit Recipe</h1>
    <form asp-controller="Recipe" asp-action="EditRecipe" method="post" id="form">
        <div class="mb-3 d-flex visually-hidden">
            <div class="col-3">
                <label asp-for="Id" class="form-label">
                    <h5>Id:</h5>
                </label>
            </div>
            <div class="col-9">
                <input class="w-100 form-control bg-secondary text-main" asp-for="Id" required>
                <span class="text-validation" asp-validation-for="Id"></span>
            </div>
        </div>
        <div class="mb-3 d-flex">
            <div class="col-3">
                <label asp-for="Name" class="form-label text-main">
                    <h5>Name:</h5>
                </label>
            </div>
            <div class="col-9">
                <input class="w-100 form-control bg-secondary text-main" asp-for="Name">
                <span class="text-validation" asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="mb-3 d-flex">
            <div class="col-3">
                <label asp-for="Name" class="form-label text-main">
                    <h5>Style:</h5>
                </label>
            </div>
            <div class="col-9">
                <select class="form-select bg-secondary text-main" asp-for="Style">

                    @foreach (var item in Enum.GetNames(typeof(StyleEnum)))
                    {
                        <option value="@item">@Regex.Replace(item, "([a-z])([A-Z])", "$1 $2")</option>
                    }
                </select>
                <span asp-validation-for="Style" class="text-validation"></span>
            </div>
        </div>
        <div class="mb-3 d-flex">
            <div class="col-3">
                <label asp-for="YeastAmount" class="form-label text-main">
                    <h5>Yeast Amount:</h5>
                </label>
            </div>
            <div class="col-9">
                <input asp-for="YeastAmount" class="form-control bg-secondary text-main" placeholder="Yeast Amount (ml)"/>
                <span asp-validation-for="YeastAmount" class="text-validation"></span>
            </div>
        </div>
        <div class="mb-3 d-flex">
            <div class="col-3">
                <label asp-for="YeastViability" class="form-label text-main">
                    <h5>Yeast Viability:</h5>
                </label>
            </div>
            <div class="col-9">

                <input asp-for="YeastViability" class="form-control bg-secondary text-main" placeholder="Yeast Viability (%)"/>
                <span asp-validation-for="YeastViability" class="text-validation"></span>
            </div>
        </div>
        <div class="mb-3 d-flex">
            <div class="col-3">
                <label asp-for="MashTemp" class="form-label text-main">
                    <h5>Mash Temp:</h5>
                </label>
            </div>
            <div class="col-9">

                <input asp-for="MashTemp" class="form-control bg-secondary text-main" placeholder="Mash Temp (f)"/>
                <span asp-validation-for="MashTemp" class="text-validation"></span>
            </div>
        </div>
        <div class="mb-3 d-flex">
            <div class="col-3">
                <label asp-for="WaterRatio" class="form-label text-main">
                    <h5>Water Ratio:</h5>
                </label>
            </div>
            <div class="col-9">

                <input asp-for="WaterRatio" class="form-control bg-secondary text-main" placeholder="Water Ratio (*:1)"/>
                <span asp-validation-for="WaterRatio" class="text-validation"></span>
            </div>
        </div>

        <div id="loader" class="visually-hidden mt-3">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div class="text-center mt-5 pb-5" id="buttonDiv">
            <button type="submit" class="btn btn-main text-green">Update Recipe</button>
        </div>

    </form>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}