@model HomebrewDesigner.Core.Domain.Identity.ApplicationUser

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center pt-5">
    <h1 class="display-6 text-main">Edit User</h1>
    <div class="container text-center col-10 flex-column d-flex align-items-center">
        <div class="col-12">
            <form asp-action="Edit" asp-controller="Admin" method="post" id="form" asp-route-id="@Model.Id">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label text-main">First Name:</label>
                    <input asp-for="FirstName" class="form-control "/>
                    <span asp-validation-for="FirstName" class="text-green"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="control-label text-main">Last Name:</label>
                    <input asp-for="LastName" class="form-control "/>
                    <span asp-validation-for="LastName" class="text-green"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label text-main">Email:</label>
                    <input asp-for="Email" class="form-control "/>
                    <span asp-validation-for="Email" class="text-green"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UserName" class="control-label text-main">Username:</label>
                    <input asp-for="UserName" class="form-control"/>
                    <span asp-validation-for="UserName" class="text-green"></span>
                </div>

                <div id="loader" class="visually-hidden mt-3">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="form-group mt-3 mb-3" id="buttonDiv">
                    <button type="submit" class="btn btn-main text-main">Edit</button>
                </div>

                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(x => x.Errors))
                    {
                        <li class="text-green">@error.ErrorMessage</li>
                    }
                </ul>
            </form>
        </div>

    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}
