@model HomebrewDesigner.Core.DTO.FermentableAddRequest
@{
    ViewBag.Title = "Add Fermentables";
}

<div class="container mt-5 text-center bg-secondary rounded-5 p-3">
    <h1 class="display-5 pb-3 text-main">Add Fermentables</h1>
    <form asp-action="AddFermentable" asp-controller="Ingredient" method="post" id="form">
        <div class="mb-3 d-flex">
            <div class="col-3">
                <label asp-for="Name" class="form-label">
                    <h5>Name:</h5>
                </label>
            </div>
            <div class="col-9">
                <input class="w-100 form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-validation"></span>
            </div>
        </div>
        <div class="mb-3 d-flex">
            <div class="col-3">
                <label asp-for="Type" class="form-label">
                    <h5>Type:</h5>
                </label>
            </div>
            <div class="col-9">

                <select class="form-select w-100 bg-secondary text-main" asp-for="Type">
                    <option selected disabled="disabled">Select Type</option>
                    @foreach (var type in ViewBag.Types)
                    {
                        <option value="@type">@type</option>
                    }
                </select>
                <span asp-validation-for="Type" class="text-validation"></span>
            </div>

        </div>
        <div class="mb-3 d-flex">
            <div class="col-3">
                <label asp-for="Origin" class="form-label">
                    <h5>Origin:</h5>
                </label>
            </div>
            <div class="col-9">

                <select class="form-select w-100 bg-secondary text-main" asp-for="Origin">
                    <option selected disabled="disabled">Select Origin</option>
                    @foreach (var origin in ViewBag.Origins)
                    {
                        <option value="@origin">@origin</option>
                    }
                </select>
                <span asp-validation-for="Origin" class="text-validation"></span>
            </div>

        </div>
        <div class="mb-3 d-flex">
            <div class="col-3">
                <label asp-for="Color" class="form-label">
                    <h5>Color:</h5>
                </label>
            </div>
            <div class="col-9">
                <input class="w-100 form-control" asp-for="Color">
                <span asp-validation-for="Color" class="text-validation"></span>
            </div>
        </div>
        <div class="mb-3 d-flex">
            <div class="col-3">
                <label asp-for="PotentialGravity" class="form-label">
                    <h5>Potential Gravity:</h5>
                </label>
            </div>
            <div class="col-9">
                <input class="w-100 form-control" asp-for="PotentialGravity">
                <span asp-validation-for="PotentialGravity" class="text-validation"></span>
            </div>
        </div>
        <div class="mb-3 d-flex">
            <div class="col-3">
                <label asp-for="MaxInBatch" class="form-label">
                    <h5>Max In Batch%:</h5>
                </label>
            </div>
            <div class="col-9">
                <input class="w-100 form-control" asp-for="MaxInBatch">
                <span asp-validation-for="MaxInBatch" class="text-validation"></span>
            </div>
        </div>
        <div id="loader" class="visually-hidden mt-3">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="text-center mt-5" id="buttonDiv">
            <button type="submit" class="btn btn-main text-green">Add Fermentables</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}