@model HomebrewDesigner.Core.DTO.HopAddRequest
@{
    ViewBag.Title = "Add Hop";
}

<div class="container mt-5 text-center bg-secondary rounded-5 p-3">
    <h1 class="display-5 pb-3 text-main">Add Hop</h1>
    <form asp-action="AddHop" asp-controller="Ingredient" method="post" id="form">
        <div class="mb-3 d-flex">
            <div class="col-3">
                <label asp-for="Name" class="form-label">
                    <h5>Name:</h5>
                </label>
            </div>
            <div class="col-9">
                <input class="w-100 form-control" asp-for="Name" required>
                <span asp-validation-for="Name" class="text-validation"></span>
            </div>
        </div>
        <div class="mb-3 d-flex">
            <div class="col-3">
                <label asp-for="Name" class="form-label">
                    <h5>Alpha Acid:</h5>
                </label>
            </div>
            <div class="col-9">
                <input class="w-100 form-control" asp-for="AlphaAcid" required>
                <span asp-validation-for="AlphaAcid" class="text-validation"></span>
            </div>
        </div>

        <div id="loader" class="visually-hidden mt-3">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="text-center mt-5" id="buttonDiv">
            <button type="submit" class="btn btn-main text-green">Add Hops</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}